extends layouts/app.pug

block content
    include parts/hero 
    include parts/history 
    include parts/brands 
    include parts/marquee
    include parts/ingredients 
    include parts/video 
    include parts/achievements 
    include parts/news 
    include parts/quiz
    //- include parts/test
    include parts/FAQ