section 
    .content.y-distance#brands.section 
        div(class="max-w-md mx-auto text-center")
            div.heading-subheading.text-brand-accent Продукция 
            h1.heading-primary.text-white Наши бренды
        .swiper(class="mt-7" data-options='{"slidesPerView": 4, "breakpoints": {"320": {"slidesPerView": 1.1, "spaceBetween": 20}, "640": {"slidesPerView": 2}, "1024": {"slidesPerView": 4, "spaceBetween": 40}}}')
            .swiper-wrapper 
                .swiper-slide(data-aos="slide-up" data-aos-duration="1000" data-aos-delay="50") 
                    .product 
                        .product__image(style='background-image: url("/img/bg/bg-product-1.png")')
                            .swiper.swiper-products(data-options='{"autoplay": {"delay": 3000, "disableOnInteraction": false}, "direction": "vertical", "slidesPerView": 1, "spaceBetween": 30, "mousewheel": true, "pagination": {"el": ".swiper-products-pagination", "clickable": true}}')
                                .swiper-wrapper
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-1.png", alt="") 
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-2.png", alt="")
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-3.png", alt="")
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-4.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/brand-beer.png", alt="")
                                .swiper-products-pagination
                        .product__name SARBAST original Unfiltered
                        .product__description Напиток обладает насыщенным, ярким и глубоким вкусом и оставляет изысканное послевкусие нефильтрованного пива.
                        .product__bottom
                            .product__bottom__fortress
                                div(class="flex")
                                    div.mr-1 Крепость: 
                                    div 4,7%
                                div(class="flex")
                                    div.mr-1 Плотность: 
                                    div 11%
                .swiper-slide(data-aos="slide-up" data-aos-duration="1000" data-aos-delay="150") 
                    .product 
                        .product__image(style='background-image: url("/img/bg/bg-product-2.png")')
                            .swiper.swiper-products(data-options='{"autoplay": {"delay": 2000, "disableOnInteraction": false}, "direction": "vertical", "slidesPerView": 1, "spaceBetween": 30, "mousewheel": true, "pagination": {"el": ".swiper-products-pagination", "clickable": true}}')
                                .swiper-wrapper
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-5.png", alt="") 
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-2.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-8.png", alt="")
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-4.png", alt="")
                                .swiper-products-pagination
                        .product__name SARBAST SPECIAL
                        .product__description Использование двух сортов ароматного хмеля придаёт пиву неповторимый аромат и приятную горчинку
                        .product__bottom
                            .product__bottom__fortress
                                div(class="flex")
                                    div.mr-1 Крепость: 
                                    div 5%
                                div(class="flex")
                                    div.mr-1 Плотность: 
                                    div 11.6%
                .swiper-slide(data-aos="slide-up" data-aos-duration="1000" data-aos-delay="250" ) 
                    .product 
                        .product__image(style='background-image: url("/img/bg/bg-product-3.png")')
                            .swiper.swiper-products(data-options='{"autoplay": {"delay": 4000, "disableOnInteraction": false}, "direction": "vertical", "slidesPerView": 1, "spaceBetween": 30, "mousewheel": true, "pagination": {"el": ".swiper-products-pagination", "clickable": true}}')
                                .swiper-wrapper
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-1.png", alt="") 
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-2.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-9.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-4.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-7.png", alt="")
                                .swiper-products-pagination
                        .product__name SARBAST original 
                        .product__description Классический светлый лагер с чистым ароматом, насыщенным и сбалансированным вкусом
                        .product__bottom
                            .product__bottom__fortress
                                div(class="flex")
                                    div.mr-1 Крепость: 
                                    div 4,2%
                                div(class="flex")
                                    div.mr-1 Плотность: 
                                    div 10.5%
                .swiper-slide(data-aos="slide-up" data-aos-duration="1000" data-aos-delay="350") 
                    .product 
                        .product__image(style='background-image: url("/img/bg/bg-product-4.png")')
                            .swiper.swiper-products(data-options='{"autoplay": {"delay": 5000, "disableOnInteraction": false}, "direction": "vertical", "slidesPerView": 1, "spaceBetween": 30, "mousewheel": true, "pagination": {"el": ".swiper-products-pagination", "clickable": true}}')
                                .swiper-wrapper
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-1.png", alt="") 
                                    //- .swiper-slide
                                    //-     .product-image-wrapper
                                    //-         .product-image-slide
                                    //-             img(src="/img/bg/product-2.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-10.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-6.png", alt="")
                                    .swiper-slide
                                        .product-image-wrapper
                                            .product-image-slide
                                                img(src="/img/bg/product-3.png", alt="")
                                .swiper-products-pagination
                        .product__name SARBAST LITE
                        .product__description Превосходно освежающее лёгкое пиво с мягким вкусом и приятным солодовым послевкусием
                        .product__bottom
                            .product__bottom__fortress
                                div(class="flex")
                                    div.mr-1 Крепость: 
                                    div 3,4%
                                div(class="flex")
                                    div.mr-1 Плотность: 
                                    div 9%