section 
    .y-distance 
        .faq
            .faq-item
                .faq-item-wrapper
                    div.faq-item-toggle 
                        div(class=" text-base lg:text-2xl") Когда был создан национальный бренд пива Sarbast?
                        div.flex
                            div.btn-down <i class="bi bi-x"></i>
                    div.faq-item-content Когда был создан национальный бренд пива Sarbast? Когда был создан национальный бренд пива Sarbast?
            .faq-item
                .faq-item-wrapper
                    div.faq-item-toggle 
                        div(class=" text-base lg:text-2xl") Когда был создан национальный бренд пива Sarbast?
                        div.flex
                            div.btn-down <i class="bi bi-x"></i>
                    div.faq-item-content Когда был создан национальный бренд пива Sarbast? Когда был создан национальный бренд пива Sarbast?
            .faq-item
                .faq-item-wrapper
                    div.faq-item-toggle 
                        div(class=" text-base lg:text-2xl") Когда был создан национальный бренд пива Sarbast?
                        div.flex
                            div.btn-down <i class="bi bi-x"></i>
                    div.faq-item-content Когда был создан национальный бренд пива Sarbast? Когда был создан национальный бренд пива Sarbast?
            .faq-item
                .faq-item-wrapper
                    div.faq-item-toggle 
                        div(class=" text-base lg:text-2xl") Когда был создан национальный бренд пива Sarbast?
                        div.flex
                            div.btn-down <i class="bi bi-x"></i>
                    div.faq-item-content Когда был создан национальный бренд пива Sarbast? Когда был создан национальный бренд пива Sarbast?
            .faq-item
                .faq-item-wrapper
                    div.faq-item-toggle 
                        div(class=" text-base lg:text-2xl") Когда был создан национальный бренд пива Sarbast?
                        div.flex
                            div.btn-down <i class="bi bi-x"></i>
                    div.faq-item-content Когда был создан национальный бренд пива Sarbast? Когда был создан национальный бренд пива Sarbast?
        .content(class="text-2xl lg:text-4xl mt-10 text-brand-gray text-center") ЧРЕЗМЕРНОЕ УПОТРЕБЛЕНИЕ АЛКОГОЛЬНЫХ ПРОДУКТОВ ВЫЗЫВАЕТ СЕРЬЕЗНЫЕ ЗАБОЛЕВАНИЯ НЕРВНОЙ СИСТЕМЫ И ВНУТРЕННИХ ОРГАНОВ ЧЕЛОВЕКА