section.relative 
    .hero.content#hero.section
        .hero__left 
            h1.heading-big.uppercase.text-white(data-aos="zoom-out" data-aos-duration="1000") 
                |качество, 
                br
                |гарантированное 
            div.heading-primary.uppercase.text-white(data-aos="zoom-out" data-aos-duration="1000") международными экспертами
        .hero__right(data-aos="zoom-out" data-aos-duration="1000")
            img(src="/img/bg/hero-beer.png", alt="")
    div(class="hero-eagle"): img(src="/img/icons/eagle.png", alt="")