section  
    .content.y-distance#ingredients.section 
        div(class="max-w-md mx-auto text-center mb-7")
            div.heading-subheading.text-brand-accent Продукция
            h1.heading-primary.text-white Ингредиенты
        div(class="space-y-5")
            .ingredient(data-aos="fade-up" data-aos-duration="1000")
                .ingredient__left.video
                    video(class="w-full" src="/video/ingredient-video-4.mp4" playsinline autoplay loop muted)
                .ingredient__right.desc
                    .ingredient-text-wrapper 
                        h2.ingredient-text-heading Вода
                        div.ingredient-text-description Sarbast варится из свежей артезианской воды, которую добывают на глубине 200 метров. Многоступенчатая система очистки воды гарантирует чистоту и мягкость нашего пива.
            .ingredient(data-aos="fade-up" data-aos-duration="1000")
                .ingredient__left.desc
                    .ingredient-text-wrapper 
                        h2.ingredient-text-heading Солод
                        div.ingredient-text-description Мы используем качественный импортный солод, который придаёт нашему пиву чистый и богатый вкус, а также классический золотистый цвет.
                .ingredient__right.video
                    video(class="w-full" src="/video/ingredient-video-1.mp4" playsinline autoplay loop muted)
            .ingredient(data-aos="fade-up" data-aos-duration="1000")
                .ingredient__left.video
                    video(class="w-full" src="/video/ingredient-video-2.mp4" playsinline autoplay loop muted)
                .ingredient__right.desc
                    .ingredient-text-wrapper 
                        h2.ingredient-text-heading Хмель
                        div.ingredient-text-description Неповторимый аромат и приятную горечь Sarbast обеспечивает традиционный хмель, выращенный с большим старанием.
            .ingredient(data-aos="fade-up" data-aos-duration="1000")
                .ingredient__left.desc
                    .ingredient-text-wrapper 
                        h2.ingredient-text-heading Дрожжи
                        div.ingredient-text-description Высококачественные дрожжи из Европы позволяют раскрыть всю полноту вкуса натурального солода и хмеля.
                .ingredient__right.video
                    video(class="w-full" src="/video/ingredient-video-3.mp4" playsinline autoplay loop muted)