.y-distance.marquee(class="mb-[60px]") 
    .marquee-inner
        .marquee-inner-item Качественный
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Чистый
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Качественный
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Чистый
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Качественный
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Чистый
        .marquee-inner-item Качественный
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Чистый
        .marquee-inner-item Качественный
        .marquee-inner-item Вкусный
        .marquee-inner-item Натуральный
        .marquee-inner-item Чистый
        .marquee-inner-item Качественный
        .marquee-inner-item Вкусный
