section 
    .content.y-distance 
        div(class="flex items-center justify-between flex-col-reverse lg:flex-row")
            .news#macy-container
                a(href="").news-item: img(class="w-[250px]" src="/img/bg/news-1.png", alt="") 
                a(href="").news-item: img(class="w-[350px]" src="/img/bg/news-2.png", alt="")
                a(href="").news-item: img(class="w-[250px]" src="/img/bg/news-3.png", alt="")
                a(href="").news-item: img(class="w-[350px]" src="/img/bg/news-4.png", alt="")
                a(href="").news-item: img(class="w-[250px]" src="/img/bg/news-5.png", alt="")
                a(href="").news-item: img(class="w-[200px]" src="/img/bg/news-6.png", alt="")
            div(class="max-w-md mx-auto text-center mb-7 lg:mb-0")
                div.heading-subheading.text-brand-accent Новости
                h1.heading-primary.text-white Будь на связи
                a(href="" class="mt-2 block"): img(src="/img/icons/arrow-right.png", alt="")
