section 
    .content.y-distance 
        div(class="flex items-center justify-between flex-col-reverse lg:flex-row")
            .news#macy-container
                a(href="https://www.instagram.com/p/Ck0lahioBrN/").news-item: img(class="w-[250px]" src="/img/bg/news-1.jpg", alt="") 
                a(href="https://www.instagram.com/p/CjVNWV-N9GR/").news-item: img(class="w-[350px]" src="/img/bg/news-2.jpg", alt="")
                a(href="https://www.instagram.com/p/Cl8wpWEtN6y/").news-item: img(class="w-[250px]" src="/img/bg/news-3.jpeg", alt="")
                a(href="https://www.instagram.com/p/CjX393OD4dX/").news-item: img(class="w-[350px]" src="/img/bg/news-4.jpg", alt="")
                a(href="https://www.instagram.com/p/CmgrLG2NB_k/").news-item: img(class="w-[250px]" src="/img/bg/news-5.jpeg", alt="")
                a(href="https://www.instagram.com/p/ClYhhjHN0rP/").news-item: img(class="w-[200px]" src="/img/bg/news-6.jpeg", alt="")
            div(class="max-w-md mx-auto text-center mb-7 lg:mb-0")
                div.heading-subheading.text-brand-accent Новости
                h1.heading-primary.text-white Будь на связи
                a(href="https://www.instagram.com/sarbast.uz/" class="mt-2 block"): img(src="/img/icons/arrow-right.png", alt="")
