section 
    .y-distance 
        .video__container
            video(src="/video/video.mp4" poster="/img/bg/video-poster.png").video 
            button.btn-play(class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2") <i class="bi bi-play-fill ml-1"></i>