// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter-Semibold.woff2") format("woff2"),
//     url("/fonts/american/AmericanTypewriter-Semibold.woff") format("woff");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "PF DinText Pro";
  src: url("/fonts/din/PFDinTextPro-Bold.woff2") format("woff2"),
    url("/fonts/din/PFDinTextPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Americana Std";
  src: url("/fonts/std/AmericanaStd.woff2") format("woff2"),
    url("/fonts/std/AmericanaStd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter-Light.woff2") format("woff2"),
//     url("/fonts/american/AmericanTypewriter-Light.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter-CondensedLight.woff2")
//       format("woff2"),
//     url("/fonts/american/AmericanTypewriter-CondensedLight.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter.woff2") format("woff2"),
//     url("/fonts/american/AmericanTypewriter.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter-Bold.woff2") format("woff2"),
//     url("/fonts/american/AmericanTypewriter-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "PF DinText Pro";
  src: url("/fonts/din/PFDinTextPro-Regular.woff2") format("woff2"),
    url("/fonts/din/PFDinTextPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter-CondensedBold.woff2")
//       format("woff2"),
//     url("/fonts/american/AmericanTypewriter-CondensedBold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "American Typewriter";
//   src: url("/fonts/american/AmericanTypewriter-Condensed.woff2") format("woff2"),
//     url("/fonts/american/AmericanTypewriter-Condensed.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
