doctype html
html.no-scroll(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet'  type='text/css' href='./css/app.css' )
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
        title Sarbast
    body
        #app
            include ../parts/mobile-nav
            include ../parts/nav
            include ../parts/modal
            include ../parts/coockie
            block content
            include ../parts/footer
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
        script(src='./js/app.js')
